.faq__section {
    padding: 10rem 0;
    background-color: $color-bg-light;

    a.contact-btn {
        width: 100%;
        max-width: 60rem;
        font-size: $font-body;
        font-weight: $font-weight-semibold;
        color: $color-primary-blue;
        background-color: $color-secondary-blue;
        padding: 2rem 8rem;
        border-radius: 0.5rem;
        display: block;
        margin: 0 auto;
        transition: $hover-transition;

        &:hover {
            color: $color-secondary-blue;
            background-color: $color-primary-blue;
        }
    }

    &--title {
        text-align: center;
        margin-bottom: 7.5rem;

        h2 {
            @include display-two;
            color: $color-text-black;
            margin-bottom: 3.5rem;
        }

        p {
            font-size: $font-body;
            color: $color-dark-grey;
            line-height: 3.5rem;
            max-width: 76rem;
            margin: 0 auto;
        }
    }

    &--dropdowns {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-bottom: 8rem;

        .dropdown {
            cursor: pointer;
            background-color: $color-bg-white;
            width: 100%;
            max-width: 88rem;
            margin: 0 auto;
            padding: 4.5rem 3.2rem;

            &-question {
                display: flex;
                justify-content: space-between;

                p {
                    font-size: $font-body;
                    font-weight: $font-weight-semibold;
                    color: $color-text-black;
                    transition: $hover-transition;
                }

                span {
                    transition: $hover-transition;

                    svg {
                        font-size: 2rem;
                    }
                }
            }

            &-answer {
                margin-top: 4.2rem;

                p {
                    font-size: $font-body;
                    line-height: 3.5rem;
                    color: $color-dark-grey;
                    max-width: 80rem;
                }
            }
        }
    }
}