.admin__dashboard {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;

    .tab-buttons {
        margin-bottom: 2rem;
        display: flex;
        gap: 2rem;

        button {
            padding: 1rem;
            background-color: $color-secondary-blue;
            color: $color-primary-blue;
            border: none;
            cursor: pointer;
        }

        .active-tab {
            background-color: $color-primary-blue;
            color: $color-bg-white;
        }

    }

    &--jobForm {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1 {
            color: $color-primary-green;
        }

        label {
            font-size: 2.2rem;
            color: $color-text-black;
        }

        input,
        textarea {
            border: .1rem solid $color-primary-blue;
            padding: .2rem .5rem;
            font-size: 1.8rem;
        }
    }
}