@import "./scss/variables";
@import "./scss/mixins";

@import "./scss/components/navbar";
@import "./scss/components/pricing";
@import "./scss/components/securityInfo";
@import "./scss/components/footer";
@import "./scss/components/imageCarousel";

@import "./scss/pages/Home/homeLandingSection";
@import "./scss/pages/Home/clientSection";
@import "./scss/pages/Home/featuresSection";
@import "./scss/pages/Home/dataSection";
@import "./scss/pages/Home/videoSection";
@import "./scss/pages/Home/featuresGridSection";

@import "./scss/pages/About/aboutLandingSection";
@import "./scss/pages/About/aboutCarouselSection";
@import "./scss/pages/About/aboutTeamSection";
@import "./scss/pages/About/aboutPartners";

@import "./scss/pages/Careers/careersLandingSection";
@import "./scss/pages/Careers/careersOfferSection";
@import "./scss/pages/Careers/careersDream";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.layout-container {
    width: calc(100% - 2rem);
    max-width: 144rem;
    margin: 0 auto;
}

.content-container {
    width: 100%;
    max-width: 124rem;
    margin: 0 auto;
}

.active {
    color: $color-primary-green !important;
}

.primary-btn {
    font-size: $font-body;
    font-weight: $font-weight-semibold;
    background-color: $color-primary-blue;
    color: $color-bg-white;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: $hover-transition;
    outline: .1rem solid transparent;

    @media only screen and (min-width: $media-query-laptop) {
        &:hover {
            background-color: $color-bg-white;
            color: $color-primary-blue;
            outline-color: $color-primary-blue;
        }
    }
}

.secondary-btn {
    font-size: $font-body;
    font-weight: $font-weight-semibold;
    background-color: $color-secondary-blue;
    color: $color-primary-blue;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: $hover-transition;

    @media only screen and (min-width: $media-query-laptop) {
        &:hover {
            background-color: $color-primary-blue;
            color: $color-secondary-blue;
        }
    }
}