$color-primary-blue: #377DFF;
$color-secondary-blue: #E5F1FF;
$color-primary-green: #2DCA8C;
$color-secondary-green: #EAFAF3;
$color-primary-orange: #FFBE3D;
$color-secondary-orange: #FFF2D8;
$color-primary-red: #FF715B;
$color-secondary-red: #FFE3DE;
$color-text-black: #333333;
$color-dark-grey: #858A8F;
$color-light-grey: #AAB0B7;
$color-bg-white: #ffffff;
$color-bg-light: #F5F6FA;
$color-bg-dark: #EDEEF6;

$font-display-one: 8rem;
$font-display-two: 6rem;
$font-display-three: 4.8rem;
$font-heading-one: 4rem;
$font-heading-two: 3.2rem;
$font-heading-three: 2.8rem;
$font-heading-four: 2.6rem;
$font-heading-five: 2.4rem;
$font-body: 2rem;
$font-small: 1.8rem;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$media-query-mobile-large: 425px;
$media-query-tablet: 786px;
$media-query-laptop: 1024px;
$media-query-desktop: 1440px;

$hover-transition: transform 0.2s;